body{
    text-align:center;
    background:linear-gradient( #f700ff 0% #00ccff 100%);
    background-repeat:no-repeat;
  }
  h1{
    text-shadow:2px 2px #4000ff;
  }
  #bio{
    padding:30px;
    font-size:18;
    text-align:center;
    color:purple;
  }
  .link:hover{
    background-color:beige;
  }
  .menu{
    list-style: none;
    font-family:cursive;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
    z-index:10;
  }
  #myname{
    font-family: 'Courgette', cursive;
  }
  .link{
      float:left;
      padding-left:15px;
      padding-right:10px;
  }